Source: gcl
Section: interpreters
Priority: optional
Maintainer: Camm Maguire <camm@enhanced.com>
Build-Depends: debhelper, emacsen, libreadline4-dev, m4, tk-dev, tetex-bin, texinfo, binutils-dev
Standards-Version: 3.5.2

Package: gcl
Architecture: i386, m68k, arm
Depends: ${shlibs:Depends}, binutils
Description: GNU Common Lisp compiler.
 The GNU Common Lisp compiler, based on Kyoto Common Lisp.

Package: gcl-doc
Section: doc
Architecture: all
Description: Documentation for GNU Common Lisp.
 GCL documentation in info format.
