#!/bin/sh
CONFIGFILE=/etc/default/gcl@EXT@
set -e
. /usr/share/debconf/confmodule

# Load config file, if it exists.
if [ -e $CONFIGFILE ]; then
    . $CONFIGFILE || true

    # Store values from config file into
    # debconf db.
    db_set gcl@EXT@/default_gcl_ansi $DEFAULT_GCL_ANSI
    db_set gcl@EXT@/default_gcl_prof $DEFAULT_GCL_PROF
fi

# Ask questions.
db_input medium gcl@EXT@/default_gcl_ansi || true
db_input medium gcl@EXT@/default_gcl_prof || true
db_go || true
